<!-- Experience Section -->
<section id="experience">
  <h2>Experience</h2>
  <div class="job">
    <h3><a [routerLink]="['/projects', 'distributerSystem']">Distributed RealTime Online Communication | A Full Stack Chord Distributed Hash Table (DHT) Network</a></h3>
    <p class="date">May 2020 - August 2020</p>
    <h4>Research Assistant, Beijing, China</h4>
    <h5>
      Beijing Jiaotong University
    </h5>
    <ul>
      <li>Implemented a Chord DHT network in Python...</li>
      <li>Developed an HTTP server to manage network operations...</li>
      <!-- Add other responsibilities here -->
    </ul>
  </div>
</section>

<!-- Projects Section -->
<section id="projects">
  <h2>Projects</h2>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'neighbor']">Neighbor Project | Full-stack Web Service for a Go and React-based Social Network</a></h3>
    <p class="date">September 2020 - December 2020</p>
    <ul>
      <li>Designed and implemented a social network web application...</li>
      <li>Implemented features for users to create and browse posts...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'onlineOrder']">OnlineOrder | A Spring and Hibernate Base Online Food Ordering System</a></h3>
    <p class="date">January 2021 - May 2021</p>
    <ul>
      <li>Designed and implemented a full stack web service ...</li>
      <li>Implemented Rest API via Spring MVC including registration...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'tinnews']">Developed Tinnews | A Tinder-like News App.</a></h3>
    <p class="date">April 2021 - July 2021</p>
    <ul>
      <li>It is the Instagram Flavor News app based on Google Component Architectural ...</li>
      <li>Implemented the bottom bar and page navigation using JetPack...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'twitch']">Twitch+ | A Personalized Twitch Resources Recommandation Engine</a></h3>
    <p class="date">August 2021 - November 2021</p>
    <ul>
      <li>Designed and built a full-stack Spring Boot application for users to search twitch  ...</li>
      <li>MySQL database hosted on AWS RDS, CRUD operations with Spring Data...</li>
      <!-- Add other details here -->
    </ul>
  </div>


  <div class="project">
    <h3><a [routerLink]="['/projects', 'starlink']">Starlink | A React JS Based Starling Trajectory Visualization</a></h3>
    <p class="date">January 2022 - April 2022</p>
    <ul>
      <li>Developed a visualization dashboard using ReactJS...</li>
      <li>Built location, altitude, and duration based selector to refine satellite...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'nubestore']"> NubeStore| A Cloud and React base App Purchase Platform</a></h3>
    <p class="date">May 2022 - August 2022</p>
    <ul>
      <li>Built a software/application purchase platform...</li>
      <li>Implemented frontend features for users...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'nftprice']"> NFT Price Visualization (React ,JS, AntD, Rechart, MoralisApi)</a></h3>
    <p class="date">June 2023 - August 2023</p>
    <ul>
      <li>Built a NFT dashboard to search and view and analyze NFT assets...</li>
      <li>Leveraged Antd UI Component Library to boost client side...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'litespotify']"> LiteSpotify| A Kotlin Spotify favorite app by leveraging Android Jetpack Library and Hilt Dependency Injection</a></h3>
    <p class="date">October 2023 - December 2023</p>
    <ul>
      <li>Implemented the BottomBar & App Navigation...</li>
      <li>Created a mock RESTFUL Api json-server...</li>
      <!-- Add other details here -->
    </ul>
  </div>

  <div class="project">
    <h3><a [routerLink]="['/projects', 'littleprince']"> Little Prince | A Roblox game</a></h3>
    <p class="date">February 2023</p>
    <ul>
      <li>Implemented falling transition feature and portal...</li>
      <li>Utilized Sound and Music Functions API support...</li>
      <!-- Add other details here -->
    </ul>
  </div>
  <!-- Repeat for other projects like OnlineOrder, Tinnews, and Twitch+ -->

</section>
