<section class="introduction">
    <div class="personal-info">
        <h2>Ningchen Liang</h2>
        <address>
            Santa Clara, CA, 95050<br>
            Phone: 408-752-1393<br>
            Email: <a href="mailto:abigailliang1@gmail.com">abigailliang1@gmail.com</a><br>
            LinkedIn: <a href="https://www.linkedin.com/in/ningchen-liang-62756b23a">ningchen-liang-62756b23a</a>
        </address>
    </div>

    <div class="summary">
        <h3>Summary</h3>
        <p>Seeking a 2024 summer intern software engineer position. Expectation graduation time: December 2024. Solid software engineer with strong programming, analytical, and mathematical skills. Had a wide range of project experience, especially in full-stack web application development with Java, Go, Python, C, etc.</p>
    </div>

    <div class="education">
        <h3>Education</h3>
        <ul>
            <li>
                <strong>Santa Clara University</strong><br>
                Master of Science in Computer Science and Engineering
            </li>
            <li>
                <strong>Beijing Jiaotong University</strong><br>
                Bachelor of Science in Mathematics
            </li>
        </ul>
    </div>

    <div class="skills">
        <h3>Technical Skills</h3>
        <ul>
            <li><strong>Languages:</strong> Go, Java, JavaScript, Python, C, lua, Matlab, SQL, HTML, CSS, PHP, Assembly</li>
            <li><strong>Frameworks and Platforms:</strong> Spring, Hibernate, React, AWS, EC2, GCE, GCS, Java Servlet</li>
            <li><strong>Database and Tools:</strong> MySQL, OracleDB, ElasticSearch, Hadoop, Docker, Node.js, Bash, Git</li>
        </ul>
    </div>
    

    <div class="image-content">
        <img src="assets/post.JPG" alt="Ningchen Liang" />
    </div>
</section>
